.range-slider-handle {
    padding: 4px 0 0 7px;
    color: #FFF;
}

.nascosto {
    display: none;
}

.container {
    padding: 5%;
}

.fullWidth {
    width: 100%;
}

#tavola {
    border: 4px solid #333;
    border-radius: 10px;
}

.tassello {
    fill: #3FBFBF;
    stroke: #FFF;
    stroke-width: 2px;
}

.tassello > text {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    fill: #FFF;
    stroke-width: 3px;
}
